
services:
  helios:
    image: junoinnovations/helios:unstable-jammy
    hostname: "helios"
    build:
      context: .
      dockerfile: Dockerfile
    container_name: helios
    pre_stop:
      - command: /etc/helios/shutdown.d/custom.sh
#    volumes:
#      - /dev/dri:/dev/dri
#      - .out/:/mnt/
#      - .home:/home/
    environment:
      - USER=helios
      - UID=5040
      # ToDo: move this out to a conf file that lets us select a remote license server.
      # This is temporary, to facilitate testing.
      - HP_ANYWHERE_REGISTRATION_CODE
    ports:
      # https://anyware.hp.com/knowledge/hp-anyware-agents-clients-and-direct-connections
      - "443:443"
      - "4172"
      - "60443"
